{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>
    <div class="registration-div">
        {{ form_start(registrationForm) }}
        <label for="registration_form_email">Email</label>
        {{ form_widget(registrationForm.email) }}
        <label for="registration_form_plainPassword">Email</label>
        {{ form_widget(registrationForm.plainPassword) }}

        <button class="btn btn-success" type="submit">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>

{% endblock %}
