body{
    margin: 0;
}
h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 1400px;
    margin: auto;
}

.bike-list{
    display: flex;
    flex-wrap: wrap;
}

.cart{
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.bike-main{
    display: flex;
}

.bike-main-description{
    padding: 25px;
}

.bike-info table td{
    background-color: lightgrey
}



