body{
    margin: 0;
}
h1{
    text-align: center;
}

.container{
    width: 1400px;
    margin: auto;
}

.velo-list{
    display: flex;
    flex-wrap: wrap;
}

.cart{
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

