body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    position: sticky;
    top: 0;
    z-index: 2;
}

h1{
    margin: 0;
    padding: 15px;
    text-align: left;
}

a{
    text-decoration: none;
    color: black;
}

button{
    cursor: pointer;
}

.close-flash{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1em;
    border: none;
    color: inherit;
    background: inherit;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.d-flex{
    display: flex;
}

.blue-link{
    color: #0a79c1;
}

.bold{
    font-weight: bold;
}

.red{
    color: red;
}

.btn{
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 1em;
    line-height: 1.4;
    border-radius: 0.3em;
    font-size: 1em;
}

.btn-success{
    color: white;
    background-color: #0b598c;
    border-color: #0b598c;
    padding: 10px 30px;
}

.hover-pointer:hover{
    cursor: pointer;
}

.container{
    z-index: 1;
    width: 80%;
    margin: auto auto 30px;
}

.flash{
    margin-top: 15px;
    text-align: right;
}

.flash span{
    margin-top:5px ;
}

.alert{
    height: 30px;
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
    border: 0 solid transparent;
    border-radius: 8px;
    display: flex;
}

.alert i{
    margin-right: 5px;
}

.alert-success{
    color: #067260;
    background-color: #cefef1;
    border-color: #bbf5eb;
}

.alert-error{
    color: #7c2f2f;
    background-color: #fcdede;
    border-color: #fbd1d1;
}

.picture-75{
    width: 75px;
}

.picture-100{
    width: 100px;
}
/* Header */


.topnav {
    background-color: #0a79c1;
    overflow: hidden;
}

.topnav a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.topnav div {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    margin: auto 50px;
}

.topnav div:not(:first-child):hover{
    background-color: #2c8fd0;
}

.topnav .icon-div {
    display: none;
    cursor: pointer;
}

.left-part-header{
    margin: auto 30px;
}

.left-part-header span{
    font-size: 1.4em;
}

.fa-solid fa-xmark{
    color: red;
}

#icon-sort{
    cursor: pointer;
    display: none;
    width: 20px;
}

aside{
    width: 20%;
}

aside form{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

aside form label{
    background-color: #0a79c1;
    border-radius: 15px;
    color: white;
    margin: 25px auto 10px auto;
    width: 100%;
}

aside form input, aside form select{
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

.price-range-div{
    justify-content: space-around;
}

.price-range-div input{
    width: 30%;

}

.bike-list{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

.bike-list-img{
    width: 300px
}

.cart{
    margin: 15px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    opacity: 1;
    transition: .3s ease-in-out;
}

.cart a{
    margin: auto;
}

.cart:hover {
    opacity: .5;
}

.cart-info h4, .cart-info p{
    margin: 0 0 0 10px;
}

.bike-main{
    display: flex;
}

.bike-main-img-div{
    margin: auto;
}

.bike-main-img{
    width: 600px;
}

.bike-main-description{
    padding: 25px;
}

.description-content{
    text-align: justify;
}

.bike-main-description a{
    float: right;
    margin-right: 100px;
}

.bike-info table{
    margin: auto;
    width: 75%;
}

.bike-info table td{
    background-color: #f6f6f6;
    padding: 5px;
}

/* Add_product */
.add-bike{
    width: 55%;
    margin: auto;
    border-radius: 25px;
    background-color: #f9f9f9;
    padding: 15px 50px;
}

.add-bike form label{
    margin: 10px;
    display: inline-block;
}

.add-bike form input, .add-bike form textarea, .add-bike form select, .order-form-div input{
    padding: 5px;
}

.row{
    display: flex;
    margin-top: 10px;
}

.row-btn{
    justify-content: center;
}

.label-div{
    width: 30%;
}

.input-div{
    width: 70%;
}

.btn-success a{
    color: white;
}

.add-bike input, .add-bike select, .add-bike textarea{
    width: 100%;
}

.add-bike select{
    width: 75%;
}

/* Admin */

.add-product-btn{
    background-color: #369;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    float: right;
    color: white;
    font-size: 0.9em;
}

.bike-list-admin table{
    border-collapse: collapse;
    width: 100%;
}

.bike-list-admin table thead th{
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.bike-list-admin table th, .bike-list-admin table td{
    padding: 0.75rem;
    border-top: 1px solid #dee2e6 ;
}

/* Panier */

.cart-header-div{
    background-color: #063b5d;
    display: flex;
    color: white;
    padding: 10px;
}

.cart-header-div-name, .cart-body-divname{
    width: 40%;
}

.cart-body-div-left, .cart-header-div-img{
    width: 20%;
}

.cart-body-div-right{
    width: 80%;
    display: flex;
}

.cart-header-div-name, .cart-body-div-name{
    width: 50%;
}

.cart-header-div-price, .cart-body-div-price{
    width: 20%;
}

.cart-header-div-quantity, .cart-body-div-quantity{
    width: 20%;
}

.cart-body-div-delete, .cart-header-div-delete{
    width: 10%;
}

.cart-body-line{
    margin-top: 15px;
    display: flex;
    border-bottom: solid 1px #dee2e6;
}

.cart-body-line div{
    margin: auto;
}

.cart-quantity{
    margin: 5px;
}

.cart-footer-div{
    padding: 15px;
}

.cart-footer-div-text{
    width: 70%;
    text-align: right;
}

.cart-footer-div-total{
    width: 30%;
}

.cart-div .btn{
    float: right;
    margin-right: 10%;
}

.order-recap-div table thead th{
    color: #fff;
    background-color: #063b5d;
    border-color: #32383e;
}

.order-recap-div table td{
    padding: 0.75rem;
    border-top: 1px solid #dee2e6 ;
}

.cart-img-div{
    margin-right: 10px;
}

.cart-img-div img{
    width: 150px;
}

.cart-text-div{
    text-align: left;
    padding-left: 15px;
}

.cart-update-quantity{
    padding: 1px 5px;
    background: #063b5d;
    color: white;
}

/* Order */

.order-div {
    width: 90%;
    margin: auto;
}

.order-form-div{
    width: 50%;
    margin: auto;
    margin-right: 15px;
    border-right: solid 1px black;
}

.order-form-div form input{
    width: 80%;
}

.order-recap-div{
    width: 50%;
}

.order-recap-div table{
    width: 100%;
    border-collapse: collapse;
}
/* Confirmation */

.recap-address-div{
    width: 50%;
}

.recap-address-div div{
    border: 1px solid grey;
    width: 60%;
    margin: auto;
    padding: 10px;
}

.paiement-div{
    width: 60%;
    margin: 50px auto auto;
}

.paiement-div-btn{
    display: flex;
    justify-content: center;
    margin: 15px;
}



/* Login/Registration */

.login-div{
    border-right: solid 1px black;
    width: 50%;
}

.login-div form{
    display: flex;
    flex-direction: column;
    padding: 15px 45px;
}

.login-div form label{
    margin: 5px;
}

.login-div form input, .registration-div form input{
    padding: 10px;
}

.login-div form button, .registration-div form button{
    width: 40%;
    margin: 10px auto;
}

.to-registration-div{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.to-registration-div a{
    width: 50%;
    margin: auto;
}

.to-registration-div button{
    width: 100%;
}

.registration-div{
    width: 40%;
    margin: auto;
}

.registration-div form{
    display: flex;
    flex-direction: column;
    margin: auto;
}

.registration-div form label{
    margin: 5px;
}

/* Responsive */

@media only screen and (max-width: 1080px){
    .left-part-header, .topnav div{
        margin: 0;
    }
}

@media only screen and (max-width: 960px){

    .container{
        width: 95%;
    }

    .content{
        flex-direction: column;
    }

    .bike-list {
        width: 100%;
    }

    #icon-sort{
        display: inline-block;
    }

    aside{
        width: 40%;
        margin: auto;
    }

    aside form{
        display: none;
    }

    aside .reset-btn{
        display: none;
    }

    .bike-list-img{
        width: 250px;
    }

    .bike-main{
        flex-direction: column;
    }

    .bike-main-img{
        width: 400px;
    }

    .bike-main-description a{
        margin-right: 0;
    }

    .bike-info table{
        width: 100%;
    }

    .login-div form button, .registration-div form button {
        width: 60%;
    }

    .add-bike{
        width: 80%;
    }

    .bike-list-admin table th, .bike-list-admin table td{
        padding: 0.5em;
    }

    .bike-list-admin table th:nth-child(4), .bike-list-admin table td:nth-child(4){
        display: none;
    }
}

@media only screen and (max-width: 600px){

    .topnav div:not(:first-child) {
        display: none;
    }

    #icon-div {
        font-size: 1.6em;
        float: right;
        display: block;
    }

    .topnav a{
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive div.icon-div {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive div {
        float: none;
        display: block;
        text-align: left;
    }

    aside{
        width: 60%;
    }

    .bike-list-img{
        width: 200px;
    }

    .bike-main-img{
        width: 200px;
    }

    .cart-img-div{
        margin-right: 10px;
    }

    .cart-header-div{
        display: none;
    }

    .cart-img-div img{
        width: 75px;
    }

     .cart-body-div-right{
         flex-direction: column;
     }

    .cart-body-div-right div{
              margin-top: 10px;
    }

    .cart-text-div{
        text-align: center;
        padding: 0;
    }

    .cart-body-div-right div{
        width: 100%;
    }

    .order-div div{
        width: 100%;
    }

    .order-form-div{
        border: none;
    }

    .order-form-div .row, .add-bike .row{
        flex-direction: column;
    }

    .order-form-div .btn{
        width: 50%;
        margin: auto;
    }

    .order-recap-div{
        display: none;
    }

    .recap-address-div{
        width: 90%;
    }

    .recap-address-div div{
        border: none;
        width: 100%;
        padding: 30px;
    }

    .paiement-div{
        width: 100%;
        margin: 30px auto auto;
    }

    .registration-login-div{
        flex-direction: column;
    }

    .login-div{
        border-right: none;
    }

    .login-div, .to-registration-div{
        width: 100%;
    }

    .registration-div{
        width: 80%;
    }

    .add-bike .input-div, .add-bike .label-div {
        width: 90%;
    }

    .bike-list-admin table th, .bike-list-admin table td{
        padding: 0.25em;
    }

    .bike-list-admin table th:nth-child(1), .bike-list-admin table td:nth-child(1){
        display: none;
    }
}