body{
    margin: 0;
}
h1{
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

button{
    cursor: pointer;
}

.close-flash{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1em;
    border: none;
    color: inherit;
    background: inherit;
}

.text-center{
    text-align: center;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.blue-link{
    color: blue;
}

.container{
    width: 1400px;
    margin: auto auto 30px;
}

.flash{
    margin-top: 15px;
    text-align: right;
}

.alert{
    height: 30px;
    position: relative;
    padding: 1em;
    margin-bottom: 1em;
    border: 0 solid transparent;
    border-radius: 8px;
    display: flex;
}

.alert i{
    margin-right: 5px;
}

.alert-success{
    color: #067260;
    background-color: #cefef1;
    border-color: #bbf5eb;
}

.alert-error{
    color: #7c2f2f;
    background-color: #fcdede;
    border-color: #fbd1d1;
}

.bike-list{
    display: flex;
    flex-wrap: wrap;
}

.cart{
    width: 25%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.bike-main{
    display: flex;
}

.bike-main-description{
    padding: 25px;
}

.bike-info table td{
    background-color: lightgrey
}

.add-bike{
    width: 500px;
    margin: auto;
}

.row{
    display: flex;
    margin-top: 10px;
}

.row-btn{
    justify-content: center;
}

.label-div{
    width: 20%;
}

.input-div{
    width: 80%;
}

.btn{
    display: inline-block;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em 1em;
    line-height: 1.4;
    border-radius: 0.3em;
}

.btn-success{
    color: white;
    background-color: #60aa7e;
    border-color: #60aa7e;
}

.add-bike input, .add-bike select, .add-bike textarea{
    width: 100%;
}

/* Admin */
.add-product-btn{
    background-color: #369;
    border: none;
    padding: 0.5em;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    float: right;
}

.add-product-btn a{
    color: white;
}

.bike-list-admin table{
    border-collapse: collapse;
    width: 100%;
}

.bike-list-admin table thead th{
    color: #fff;
    background-color: #212529;
    border-color: #32383e;
}

.bike-list-admin table th, .bike-list-admin table td{
    padding: 0.75rem;
    border-top: 1px solid #dee2e6 ;
}

/* Panier */

.cart-div table{
    border-collapse: collapse;
    width: 80%;
    font-size: 1.1em;
}

.cart-div table thead th{
    color: #fff;
    background-color: #063b5d;
    border-color: #32383e;
}

.cart-div table th, .cart-div table td{
    padding: 0.75rem;
    border-top: 1px solid #dee2e6 ;
}

.cart-img-div{
    margin-right: 10px;
}

.cart-text-div{
    display: flex;
    align-items: center;

}

.cart-update-quantity{
    padding: 1px 5px;
    background: #063b5d;
    color: white;
}

.cart-div tfoot{
    font-weight: bold;
}



