{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Nos vélos</h1>
    <div class="velo-list">
        {% for index, product in products %}
            <div class="cart">
                <div>
                    <img src="https://fakeimg.pl/300/">
                </div>
                <div>
                    <h4>{{ product.name }}</h4>
                    <p>{{ product.brand }} / {{ product.productType }}</p>
                    <p>{{ product.price|format_currency('EUR', locale='fr') }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
