<header>
    <nav>
        <div class="left-part-header">
            <a href="{{ path('home') }}">
                <h2>Bike Shop</h2>
            </a>
        </div>
        <div class="right-part-header">
            <div>
                <a href="{{ path('home') }}">
                    <i class="fa-solid fa-bicycle"></i>
                    <span>Vélos</span>
                </a>
            </div>
            <div>
                <a href="#">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <span>Panier</span>
                </a>
            </div>
{#
            <a href="#">Déconnexion</a>
            <a href="#">Connexion</a>
            <a href="#">Enregistrement</a>
#}
        </div>
    </nav>
</header>